In [1]:
import os
import pandas as pd
import json
import csv
from dotenv import load_dotenv

In [5]:
#Opening json files with api call responses

f1 = open('api_responses/weather13.json')
f2 = open('api_responses/weather18.json')
f3 = open('api_responses/weather19.json')
f4 = open('api_responses/weather20.json')
f5 = open('api_responses/weather10.json')

In [6]:
#Loading json files and saving as responses

responses1 = json.load(f1)
responses2 = json.load(f2)
responses3 = json.load(f3)
responses4 = json.load(f4)
responses5 = json.load(f5)

In [8]:
# Calculate the numbers list for loops below based on how many responses in each json file
numbers1 = list(range(0, 20200))
numbers2 = list(range(0,20200))
numbers3 = list(range(0, 14140))
numbers4 = list(range(0, 2020))
numbers5 = list(range(0,3838))


display(len(responses1))
display(len(responses2))
display(len(responses3))
display(len(responses4))
display(len(responses5))


errors = []
responses_clean = []

20200

20200

14140

2020

3838

In [9]:
#Run for loops to remove errored out API calls

for number in numbers1:
    x = number
    x1 = len(responses1[x])
    if x1 == 4:
        responses_clean.append(responses1[x])
for number in numbers2:
    x = number
    x1 = len(responses2[x])
    if x1 == 4:
        responses_clean.append(responses2[x])
for number in numbers3:
    x = number
    x1 = len(responses3[x])
    if x1 == 4:
        responses_clean.append(responses3[x])
for number in numbers4:
    x = number
    x1 = len(responses4[x])
    if x1 == 4:
        responses_clean.append(responses4[x])
for number in numbers5:
    x = number
    x1 = len(responses5[x])
    if x1 == 4:
        responses_clean.append(responses5[x])

In [10]:
#Begin cleaning data by normalizing top level and creating index to work with
cleaned_data = pd.json_normalize(responses_clean)
cleaned_data

,request.type,request.query,request.language,request.unit,location.name,location.country,location.region,location.lat,location.lon,location.timezone_id,...,historical.2021-03-16.astro.moonset,historical.2021-03-16.astro.moon_phase,historical.2021-03-16.astro.moon_illumination,historical.2021-03-16.mintemp,historical.2021-03-16.maxtemp,historical.2021-03-16.avgtemp,historical.2021-03-16.totalsnow,historical.2021-03-16.sunhour,historical.2021-03-16.uv_index,historical.2021-03-16.hourly
0,Zipcode,33511,en,m,Brandon,USA,Florida,27.912,-82.297,America/New_York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zipcode,33765,en,m,Clearwater,USA,Florida,27.974,-82.745,America/New_York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zipcode,33607,en,m,Tampa,USA,Florida,27.966,-82.511,America/Kentucky/Monticello,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Zipcode,33559,en,m,Lutz,USA,Florida,28.165,-82.407,America/New_York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Zipcode,33180,en,m,Miami,USA,Florida,25.962,-80.141,America/Kentucky/Monticello,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60391,Zipcode,32819,en,m,Orlando,USA,Florida,28.460,-81.476,America/New_York,...,09:36 PM,New Moon,19.0,19.0,29.0,24.0,0.0,11.6,6.0,"[{'time': 0, 'temperature': 29, 'wind_speed': ..."
60392,Zipcode,32789,en,m,Winter Park,USA,Florida,28.600,-81.357,America/New_York,...,09:36 PM,New Moon,19.0,19.0,29.0,25.0,0.0,11.6,6.0,"[{'time': 0, 'temperature': 29, 'wind_speed': ..."
60393,Zipcode,34239,en,m,Sarasota,USA,Florida,27.310,-82.518,America/New_York,...,09:39 PM,New Moon,19.0,19.0,24.0,22.0,0.0,11.6,6.0,"[{'time': 0, 'temperature': 24, 'wind_speed': ..."
60394,Zipcode,30346,en,m,Atlanta,USA,Georgia,33.928,-84.344,America/New_York,...,09:54 PM,New Moon,19.0,11.0,18.0,16.0,0.0,6.0,4.0,"[{'time': 0, 'temperature': 18, 'wind_speed': ..."
60395,Zipcode,33131,en,m,Miami,USA,Florida,25.767,-80.191,America/Kentucky/Monticello,...,09:28 PM,New Moon,19.0,22.0,24.0,23.0,0.0,11.6,6.0,"[{'time': 0, 'temperature': 24, 'wind_speed': ..."

In [11]:
#Cleaning hourly data which is average for the day based on input interval in the api call request made

daily_data = []

for response in responses_clean:
    normalize = pd.json_normalize(response['historical'][list(response['historical'].keys())[0]]['hourly'])
    daily_data.append(normalize)
    
daily_data = pd.concat(daily_data)
daily_data['index'] = cleaned_data.index
daily_data = daily_data.set_index('index')

In [12]:
daily_data

,time,temperature,wind_speed,wind_degree,wind_dir,weather_code,weather_icons,weather_descriptions,precip,humidity,...,chanceofremdry,chanceofwindy,chanceofovercast,chanceofsunshine,chanceoffrost,chanceofhightemp,chanceoffog,chanceofsnow,chanceofthunder,uv_index
index,,,,,,,,,,,,,,,,,,,,,
0,0,29,14,181,S,143,[https://assets.weatherstack.com/images/wsymbo...,[Mist],0.0,75,...,0,0,0,0,0,0,0,0,0,5
1,0,24,21,174,S,122,[https://assets.weatherstack.com/images/wsymbo...,[Overcast],0.0,81,...,0,0,0,0,0,0,0,0,0,5
2,0,26,18,182,S,122,[https://assets.weatherstack.com/images/wsymbo...,[Overcast],0.0,75,...,0,0,0,0,0,0,0,0,0,5
3,0,28,16,182,S,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,75,...,0,0,0,0,0,0,0,0,0,6
4,0,26,21,146,SE,119,[https://assets.weatherstack.com/images/wsymbo...,[Cloudy],0.0,69,...,0,0,0,0,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60391,0,29,15,181,S,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,64,...,0,0,0,0,0,0,0,0,0,6
60392,0,29,14,182,S,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,64,...,0,0,0,0,0,0,0,0,0,6
60393,0,24,18,158,SSE,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,80,...,0,0,0,0,0,0,0,0,0,6
60394,0,18,10,127,SE,356,[https://assets.weatherstack.com/images/wsymbo...,[Moderate or heavy rain shower],36.7,84,...,0,0,0,0,0,0,0,0,0,4
60395,0,24,26,137,SE,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,73,...,0,0,0,0,0,0,0,0,0,6

In [13]:
# Cleaning second level of data which has historical information needed but nests it into seperate columns.  This removes the nesting that would happen if just json_normalizing
historical_data = []

for response in responses_clean:
    normalize = pd.json_normalize(response['historical'][list(response['historical'].keys())[0]])
    historical_data.append(normalize)

In [14]:
# Connecting data together and providing index
historical_data  = pd.concat(historical_data)
historical_data['index'] = cleaned_data.index
historical_data = historical_data.set_index('index')

In [15]:
historical_data

,date,date_epoch,mintemp,maxtemp,avgtemp,totalsnow,sunhour,uv_index,hourly,astro.sunrise,astro.sunset,astro.moonrise,astro.moonset,astro.moon_phase,astro.moon_illumination
index,,,,,,,,,,,,,,,
0,2021-03-17,1615939200,18,29,24,0.0,11.6,5,"[{'time': 0, 'temperature': 29, 'wind_speed': ...",06:36 AM,06:39 PM,09:06 AM,10:32 PM,Waxing Crescent,25
1,2021-03-17,1615939200,20,24,22,0.0,11.6,5,"[{'time': 0, 'temperature': 24, 'wind_speed': ...",06:38 AM,06:41 PM,09:08 AM,10:34 PM,Waxing Crescent,25
2,2021-03-17,1615939200,20,26,23,0.0,11.6,5,"[{'time': 0, 'temperature': 26, 'wind_speed': ...",06:37 AM,06:40 PM,09:07 AM,10:33 PM,Waxing Crescent,25
3,2021-03-17,1615939200,18,28,23,0.0,11.6,6,"[{'time': 0, 'temperature': 28, 'wind_speed': ...",06:36 AM,06:39 PM,09:07 AM,10:33 PM,Waxing Crescent,25
4,2021-03-17,1615939200,23,26,25,0.0,10.2,6,"[{'time': 0, 'temperature': 26, 'wind_speed': ...",06:27 AM,06:30 PM,09:00 AM,10:20 PM,Waxing Crescent,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60391,2021-03-16,1615852800,19,29,24,0.0,11.6,6,"[{'time': 0, 'temperature': 29, 'wind_speed': ...",06:34 AM,06:35 PM,08:31 AM,09:36 PM,New Moon,19
60392,2021-03-16,1615852800,19,29,25,0.0,11.6,6,"[{'time': 0, 'temperature': 29, 'wind_speed': ...",06:33 AM,06:35 PM,08:31 AM,09:36 PM,New Moon,19
60393,2021-03-16,1615852800,19,24,22,0.0,11.6,6,"[{'time': 0, 'temperature': 24, 'wind_speed': ...",06:38 AM,06:39 PM,08:36 AM,09:39 PM,New Moon,19
60394,2021-03-16,1615852800,11,18,16,0.0,6.0,4,"[{'time': 0, 'temperature': 18, 'wind_speed': ...",06:46 AM,06:46 PM,08:38 AM,09:54 PM,New Moon,19
60395,2021-03-16,1615852800,22,24,23,0.0,11.6,6,"[{'time': 0, 'temperature': 24, 'wind_speed': ...",06:28 AM,06:30 PM,08:28 AM,09:28 PM,New Moon,19

In [16]:
#selecting columns wanted from cleaned_data dataframe
cleaned_data_col = [
'request.type',
'request.query',
'request.language',
'request.unit',
'location.name',
'location.country',
'location.region',
'location.lat',
'location.lon',
'location.timezone_id',
'location.utc_offset',
]

In [17]:
#Creating df_weather_data
df_weather_data = []

In [18]:
#Connecting all 3 tables together 

df_weather_data = pd.concat([cleaned_data[cleaned_data_col], daily_data, historical_data], axis=1)

In [19]:
# Last dropping of columns to get data down to desirable data
df_weather_data = df_weather_data.drop(columns=[
 'time',
 'wind_speed',
 'wind_degree',
 'wind_dir',
 'weather_code', 
 'weather_icons',
 'weather_descriptions',
 'chanceofrain',
 'chanceofremdry',
 'chanceofwindy',
 'chanceofovercast',
 'chanceofsunshine',
 'chanceoffrost',
 'chanceofhightemp',
 'chanceoffog',
 'chanceofsnow',
 'chanceofthunder',
 'uv_index',
 'date_epoch',
 'uv_index',
 'astro.sunrise',
 'astro.sunset',
 'astro.moonrise',
 'astro.moonset',
 'astro.moon_phase',
 'astro.moon_illumination',
 'hourly'])

In [20]:
display(df_weather_data.head())
display(df_weather_data.tail())

,request.type,request.query,request.language,request.unit,location.name,location.country,location.region,location.lat,location.lon,location.timezone_id,...,dewpoint,windchill,windgust,feelslike,date,mintemp,maxtemp,avgtemp,totalsnow,sunhour
0,Zipcode,33511,en,m,Brandon,USA,Florida,27.912,-82.297,America/New_York,...,17,23,21,24,2021-03-17,18,29,24,0.0,11.6
1,Zipcode,33765,en,m,Clearwater,USA,Florida,27.974,-82.745,America/New_York,...,18,22,32,22,2021-03-17,20,24,22,0.0,11.6
2,Zipcode,33607,en,m,Tampa,USA,Florida,27.966,-82.511,America/Kentucky/Monticello,...,17,22,26,23,2021-03-17,20,26,23,0.0,11.6
3,Zipcode,33559,en,m,Lutz,USA,Florida,28.165,-82.407,America/New_York,...,17,22,23,23,2021-03-17,18,28,23,0.0,11.6
4,Zipcode,33180,en,m,Miami,USA,Florida,25.962,-80.141,America/Kentucky/Monticello,...,19,25,27,26,2021-03-17,23,26,25,0.0,10.2

,request.type,request.query,request.language,request.unit,location.name,location.country,location.region,location.lat,location.lon,location.timezone_id,...,dewpoint,windchill,windgust,feelslike,date,mintemp,maxtemp,avgtemp,totalsnow,sunhour
60391,Zipcode,32819,en,m,Orlando,USA,Florida,28.460,-81.476,America/New_York,...,15,23,21,24,2021-03-16,19,29,24,0.0,11.6
60392,Zipcode,32789,en,m,Winter Park,USA,Florida,28.600,-81.357,America/New_York,...,16,24,19,24,2021-03-16,19,29,25,0.0,11.6
60393,Zipcode,34239,en,m,Sarasota,USA,Florida,27.310,-82.518,America/New_York,...,18,22,26,23,2021-03-16,19,24,22,0.0,11.6
60394,Zipcode,30346,en,m,Atlanta,USA,Georgia,33.928,-84.344,America/New_York,...,12,14,14,14,2021-03-16,11,18,16,0.0,6.0
60395,Zipcode,33131,en,m,Miami,USA,Florida,25.767,-80.191,America/Kentucky/Monticello,...,18,23,33,25,2021-03-16,22,24,23,0.0,11.6

In [21]:
#exporting cleaned data to csv
df_weather_data.to_csv('cleaned_data/df_weather_data_01122022.csv')